In [111]:
import pandas as pd
import plotly.express as px
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import date, timedelta, datetime

In [114]:
filepath = r'C:\Users\ryan.kracaw\Desktop\COPY_master_data.csv'
df = pd.read_csv(filepath)

df1 = pd.read_excel("Resources\MOC OCR Submissions Report.xlsx", 'Appalachia')

In [10]:
app = df.loc[df['Region'] == 'App']
red_app = app.loc[app['Color'] == 'Red']
orange_app = app.loc[app['Color'] == 'Orange']
other_app = app.loc[app['Color'] == 'Other']

In [ ]:
grouped_df = df.groupby(['Region', 'Color']).size()
grouped_df = grouped_df.reset_index()
grouped_df = grouped_df.rename(columns = {0 : 'Count'})
grouped_df

In [36]:
grouped_df.loc[grouped_df['Region'] == 'East Texas'].reset_index()['Count']

0    576
1      3
2     37
Name: Count, dtype: int64

In [40]:
new_df = pd.DataFrame({
    'Color' : ['Orange', 'Other', 'Red'],
    'App' : grouped_df.loc[grouped_df['Region'] == 'App']['Count'],
    'East Texas' : grouped_df.loc[grouped_df['Region'] == 'East Texas'].reset_index()['Count'],
    'Mid-Con' : grouped_df.loc[grouped_df['Region'] == 'Mid-Con'].reset_index()['Count'],
    'North Dakota' : grouped_df.loc[grouped_df['Region'] == 'North Dakota'].reset_index()['Count'],
    'Rockies' : grouped_df.loc[grouped_df['Region'] == 'Rockies'].reset_index()['Count'],
    'South Texas' : grouped_df.loc[grouped_df['Region'] == 'South Texas'].reset_index()['Count'],
    'West Texas' : grouped_df.loc[grouped_df['Region'] == 'West Texas'].reset_index()['Count']
})
new_df

,Color,App,East Texas,Mid-Con,North Dakota,Rockies,South Texas,West Texas
0,Orange,632,576,321,494,190,525,3521
1,Other,20,3,10,5,7,48,117
2,Red,134,37,105,32,14,326,605

In [ ]:
fig = px.bar(grouped_df, x='Color', y='Count', color='Region',barmode='group')
fig.show()

In [4]:
df[(df['Date'] > '2019-10-06') & (df['Date'] < '2020-10-06')]

            Date   Color Rig Number       Region
3     2019-10-13  Orange        292          App
4     2019-10-13  Orange        343          App
5     2019-10-13  Orange        347          App
6     2019-10-13  Orange        578          App
7     2019-10-13  Orange        582          App
...          ...     ...        ...          ...
6937  2020-08-30   Other        248  South Texas
6938  2020-08-30   Other        248  South Texas
6939  2020-08-30   Other        248  South Texas
6940  2020-09-27  Orange        248  South Texas
6941  2020-09-27     Red        248  South Texas

[1327 rows x 4 columns]

In [ ]:
dates = df[(df['Date'] > '2019-10-06') & (df['Date'] < '2020-10-06')]
dates = dates.groupby('Date')['Color'].count().reset_index(name="count")
#dates = dates.reset_index()
dates

In [ ]:
fig = px.line(dates, x='Date', y='count', markers=True)
fig.show()

In [41]:
app = df.loc[df['Region'] == 'App']
etx = df.loc[df['Region'] == 'East Texas']
okc = df.loc[df['Region'] == 'Mid-Con']
nodo = df.loc[df['Region'] == 'North Dakota']
rock = df.loc[df['Region'] == 'Rockies']
stx = df.loc[df['Region'] == 'South Texas']
wtx = df.loc[df['Region'] == 'West Texas']

In [145]:
dts = df1.iloc[0].dropna()
dts = dts.tolist()
clean_dates = []
for i in dts[:-1]:
    time_data = i
    format_data = "%Y-%m-%d"
    date = datetime.strftime(time_data, format_data)
    clean_dates.append(date)
fixed_dates = clean_dates[:len(clean_dates) - 4]
dates_df = pd.DataFrame(
    {
        'Date': fixed_dates
    }
)

In [143]:
app_all = app.groupby('Date')['Color'].count().reset_index(name="Appalachia")
len(app_all)

191

In [ ]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [79]:
from datetime import date
from dateutil.relativedelta import relativedelta

three_month = date.today() + relativedelta(months=-3)
six_months = date.today() + relativedelta(months=-6)
year = date.today() + relativedelta(months=-12)

app6_df = app[(app['Date'] > str(six_months)) & (app['Date'] < str(date.today()))]
app6_df = app6_df.groupby('Date')['Color'].count().reset_index(name="Appalachia")
app3_df = app[(app['Date'] > str(three_month)) & (app['Date'] < str(date.today()))]
app3_df = app3_df.groupby('Date')['Color'].count().reset_index(name="Appalachia")
appyear_df = app[(app['Date'] > str(year)) & (app['Date'] < str(date.today()))]
appyear_df = appyear_df.groupby('Date')['Color'].count().reset_index(name="Appalachia")

etx6_df = etx[(etx['Date'] > str(six_months)) & (etx['Date'] < str(date.today()))]
etx6_df = etx6_df.groupby('Date')['Color'].count().reset_index(name="East Texas")
etx3_df = etx[(etx['Date'] > str(three_month)) & (etx['Date'] < str(date.today()))]
etx3_df = etx3_df.groupby('Date')['Color'].count().reset_index(name="East Texas")
etxyear_df = etx[(etx['Date'] > str(year)) & (etx['Date'] < str(date.today()))]
etxyear_df = etxyear_df.groupby('Date')['Color'].count().reset_index(name="East Texas")

merged6_df = pd.merge(app6_df, etx6_df, how='inner', on='Date')
merged3_df = pd.merge(app3_df, etx3_df, how='inner', on='Date')
mergedyear = pd.merge(appyear_df, etxyear_df, how='inner', on='Date')

okc6_df = okc[(okc['Date'] > str(six_months)) & (okc['Date'] < str(date.today()))]
okc6_df = okc6_df.groupby('Date')['Color'].count().reset_index(name="Mid-Con")
okc3_df = okc[(okc['Date'] > str(three_month)) & (okc['Date'] < str(date.today()))]
okc3_df = okc3_df.groupby('Date')['Color'].count().reset_index(name="Mid-Con")

merged6_df = pd.merge(merged6_df, okc6_df, how='inner', on='Date')
merged3_df = pd.merge(merged3_df, okc3_df, how='inner', on='Date')

nodo6_df = nodo[(nodo['Date'] > str(six_months)) & (nodo['Date'] < str(date.today()))]
nodo6_df = nodo6_df.groupby('Date')['Color'].count().reset_index(name="North Dakota")
nodo3_df = nodo[(nodo['Date'] > str(three_month)) & (nodo['Date'] < str(date.today()))]
nodo3_df = nodo3_df.groupby('Date')['Color'].count().reset_index(name="North Dakota")

merged6_df = pd.merge(merged6_df, nodo6_df, how='inner', on='Date')
merged3_df = pd.merge(merged3_df, nodo3_df, how='inner', on='Date')

rock6_df = rock[(rock['Date'] > str(six_months)) & (rock['Date'] < str(date.today()))]
rock6_df = rock6_df.groupby('Date')['Color'].count().reset_index(name="Rockies")
rock3_df = rock[(rock['Date'] > str(three_month)) & (rock['Date'] < str(date.today()))]
rock3_df = rock3_df.groupby('Date')['Color'].count().reset_index(name="Rockies")

merged6_df = pd.merge(merged6_df, rock6_df, how='inner', on='Date')
merged3_df = pd.merge(merged3_df, rock3_df, how='inner', on='Date')

stx6_df = stx[(stx['Date'] > str(six_months)) & (stx['Date'] < str(date.today()))]
stx6_df = stx6_df.groupby('Date')['Color'].count().reset_index(name="South Texas")
stx3_df = stx[(stx['Date'] > str(three_month)) & (stx['Date'] < str(date.today()))]
stx3_df = stx3_df.groupby('Date')['Color'].count().reset_index(name="South Texas")

merged6_df = pd.merge(merged6_df, stx6_df, how='inner', on='Date')
merged3_df = pd.merge(merged3_df, stx3_df, how='inner', on='Date')

wtx6_df = wtx[(wtx['Date'] > str(six_months)) & (wtx['Date'] < str(date.today()))]
wtx6_df = wtx6_df.groupby('Date')['Color'].count().reset_index(name="West Texas")
wtx3_df = wtx[(wtx['Date'] > str(three_month)) & (wtx['Date'] < str(date.today()))]
wtx3_df = wtx3_df.groupby('Date')['Color'].count().reset_index(name="West Texas")

merged6_df = pd.merge(merged6_df, wtx6_df, how='inner', on='Date')
merged3_df = pd.merge(merged3_df, wtx3_df, how='inner', on='Date')



#fig = px.line(app3_df, x='Date', y='count', markers=True)
#fig.show()

In [ ]:
appyear_df = app[(app['Date'] > str(year)) & (app['Date'] < str(date.today()))]
appyear_df = appyear_df.groupby('Date')['Color'].count().reset_index(name="Appalachia")

In [93]:
appyear_df = app[(app['Date'] > str(year)) & (app['Date'] < str(date.today()))]
appyear_df = appyear_df.groupby('Date')['Color'].count().reset_index(name="Appalachia")
etxyear_df = etx[(etx['Date'] > str(year)) & (etx['Date'] < str(date.today()))]
etxyear_df = etxyear_df.groupby('Date')['Color'].count().reset_index(name="East Texas")
okcyear_df = okc[(okc['Date'] > str(year)) & (okc['Date'] < str(date.today()))]
okcyear_df = okcyear_df.groupby('Date')['Color'].count().reset_index(name="Mid-Con")
nodoyear_df = nodo[(nodo['Date'] > str(year)) & (nodo['Date'] < str(date.today()))]
nodoyear_df = nodoyear_df.groupby('Date')['Color'].count().reset_index(name="North Dakota")
rockyear_df = rock[(rock['Date'] > str(year)) & (rock['Date'] < str(date.today()))]
rockyear_df = rockyear_df.groupby('Date')['Color'].count().reset_index(name="Rockies")
stxyear_df = stx[(stx['Date'] > str(year)) & (stx['Date'] < str(date.today()))]
stxyear_df = stxyear_df.groupby('Date')['Color'].count().reset_index(name="South Texas")
wtxyear_df = wtx[(wtx['Date'] > str(year)) & (wtx['Date'] < str(date.today()))]
wtxyear_df = wtxyear_df.groupby('Date')['Color'].count().reset_index(name="West Texas")

mergedyear = pd.merge(
        pd.merge(
            pd.merge(
                pd.merge(
                    pd.merge(
                        pd.merge(
                            appyear_df, etxyear_df, how='inner', on='Date'
                        ), okcyear_df, how='inner', on='Date'
                    ), nodoyear_df, how='inner', on='Date'
                ), rockyear_df, how='inner', on='Date'
            ), stxyear_df, how='inner', on='Date'
        ), wtxyear_df, how='inner', on='Date'
)

In [159]:
mergedyear['North'] = mergedyear["Appalachia"] + mergedyear['Mid-Con'] + mergedyear['North Dakota'] + mergedyear['Rockies']
mergedyear['South'] = mergedyear['East Texas'] + mergedyear['West Texas'] + mergedyear['South Texas']
mergedyear

,Date,Appalachia,East Texas,Mid-Con,North Dakota,Rockies,South Texas,West Texas,North,South
0,2022-11-15,1,4,1,6,4,6,27,12,37
1,2022-11-22,5,3,6,4,2,9,15,17,27
2,2022-11-29,4,6,9,9,2,9,5,24,20
3,2022-12-06,1,2,8,8,1,9,23,18,34
4,2022-12-13,2,1,4,2,1,7,31,9,39
5,2023-01-10,5,4,2,6,1,7,27,14,38
6,2023-01-31,6,3,4,7,4,4,20,21,27
7,2023-02-07,1,3,1,3,1,3,42,6,48
8,2023-02-14,5,4,4,6,1,10,33,16,47
9,2023-03-28,4,4,3,9,5,5,34,21,43
10,2023-04-04,3,5,1,10,2,6,31,16,42
11,2023-04-18,5,6,5,7,2,6,33,19,45
12,2023-04-25,7,3,2,9,1,5,27,19,35
13,2023-05-02,8,1,6,8,4,13,27,26,41
14,2023-05-16,11,3,2,4,4,5,24,21,32
15,2023-05-30,3,3,3,3,3,2,20,12,25
16,2023-06-20,3,1,3,6,1,5,15,13,21
17,2023-06-27,3,6,2,4,6,7,20,15,33
18,2023-07-18,4,3,3,8,4,3,44,19,50
19,2023-07-25,3,2,2,11,1,1,35,17,38
20,2023-08-08,5,3,3,7,4,4,19,19,26
21,2023-08-15,1,5,2,7,2,1,19,12,25
22,2023-09-26,1,3,4,4,1,7,27,10,37

In [ ]:
fig = px.line(mergedyear, x='Date', y='Appalachia', markers=True)
fig.show()

In [64]:
six_months = date.today() + relativedelta(months=-6)
app6_df = app[(app['Date'] > str(six_months)) & (app['Date'] < str(date.today()))]
#app6_df = app6_df.groupby('Color').count()
app6_df

           Date   Color Rig Number Region
712  2023-04-18  Orange        571    App
713  2023-04-18  Orange        578    App
714  2023-04-18  Orange        582    App
715  2023-04-18  Orange        583    App
716  2023-04-18     Red        579    App
..          ...     ...        ...    ...
781  2023-08-22  Orange        584    App
782  2023-08-22  Orange        584    App
783  2023-08-22  Orange        801    App
784  2023-09-19  Orange        801    App
785  2023-09-26  Orange        805    App

[74 rows x 4 columns]

In [ ]:
merged6_df
fig_all = px.line(merged6_df, x='Date', y=['Appalachia', 'East Texas', 'Mid-Con', 'North Dakota', 'Rockies', 'South Texas', 'West Texas'], markers=True)

fig_all.show()

In [82]:
x = app.groupby('Date')['Color'].count().reset_index(name="Appalachia")

In [ ]:
fig = px.line(x, x='Date', y='Appalachia', markers=True)
fig.show()