In [231]:
import pandas as pd
from datetime import date, timedelta, datetime
import numpy as np

In [292]:
# Read in the excel sheet
file_path = "Resources\MOC OCR Submissions Report.xlsx"
sheet_name = 'STX'
df = pd.read_excel(file_path, sheet_name)

In [293]:
# Colloect dates and clean them
dts = df.iloc[0].dropna()
dts = dts.tolist()
#del dts[0]
dts

[datetime.datetime(2019, 10, 6, 0, 0),
 datetime.datetime(2019, 10, 13, 0, 0),
 datetime.datetime(2019, 10, 20, 0, 0),
 datetime.datetime(2019, 10, 27, 0, 0),
 datetime.datetime(2019, 11, 3, 0, 0),
 datetime.datetime(2019, 11, 10, 0, 0),
 datetime.datetime(2019, 11, 17, 0, 0),
 datetime.datetime(2019, 11, 24, 0, 0),
 datetime.datetime(2019, 12, 1, 0, 0),
 datetime.datetime(2019, 12, 8, 0, 0),
 datetime.datetime(2019, 12, 15, 0, 0),
 datetime.datetime(2019, 12, 22, 0, 0),
 datetime.datetime(2019, 12, 29, 0, 0),
 datetime.datetime(2020, 1, 5, 0, 0),
 datetime.datetime(2020, 1, 12, 0, 0),
 datetime.datetime(2020, 1, 19, 0, 0),
 datetime.datetime(2020, 1, 26, 0, 0),
 datetime.datetime(2020, 2, 2, 0, 0),
 datetime.datetime(2020, 2, 9, 0, 0),
 datetime.datetime(2020, 2, 16, 0, 0),
 datetime.datetime(2020, 2, 23, 0, 0),
 datetime.datetime(2020, 3, 1, 0, 0),
 datetime.datetime(2020, 3, 8, 0, 0),
 datetime.datetime(2020, 3, 15, 0, 0),
 datetime.datetime(2020, 3, 22, 0, 0),
 datetime.datetime(2020, 3, 29, 0, 0),
 datetime.datetime(2020, 4, 5, 0, 0),
 datetime.datetime(2020, 4, 12, 0, 0),
 datetime.datetime(2020, 4, 19, 0, 0),
 datetime.datetime(2020, 4, 26, 0, 0),
 datetime.datetime(2020, 5, 3, 0, 0),
 datetime.datetime(2020, 5, 10, 0, 0),
 datetime.datetime(2020, 5, 17, 0, 0),
 datetime.datetime(2020, 5, 24, 0, 0),
 datetime.datetime(2020, 5, 31, 0, 0),
 datetime.datetime(2020, 6, 7, 0, 0),
 datetime.datetime(2020, 6, 14, 0, 0),
 datetime.datetime(2020, 6, 21, 0, 0),
 datetime.datetime(2020, 6, 28, 0, 0),
 datetime.datetime(2020, 7, 5, 0, 0),
 datetime.datetime(2020, 7, 12, 0, 0),
 datetime.datetime(2020, 7, 19, 0, 0),
 datetime.datetime(2020, 7, 26, 0, 0),
 datetime.datetime(2020, 8, 2, 0, 0),
 datetime.datetime(2020, 8, 9, 0, 0),
 datetime.datetime(2020, 8, 16, 0, 0),
 datetime.datetime(2020, 8, 23, 0, 0),
 datetime.datetime(2020, 8, 30, 0, 0),
 datetime.datetime(2020, 9, 6, 0, 0),
 datetime.datetime(2020, 9, 13, 0, 0),
 datetime.datetime(2020, 9, 20, 0, 0),
 datetime.datetime(2020, 9, 27, 0, 0),
 datetime.datetime(2020, 10, 4, 0, 0),
 datetime.datetime(2020, 10, 11, 0, 0),
 datetime.datetime(2020, 10, 18, 0, 0),
 datetime.datetime(2020, 10, 25, 0, 0),
 datetime.datetime(2020, 11, 1, 0, 0),
 datetime.datetime(2020, 11, 8, 0, 0),
 datetime.datetime(2020, 11, 15, 0, 0),
 datetime.datetime(2020, 11, 22, 0, 0),
 datetime.datetime(2020, 11, 29, 0, 0),
 datetime.datetime(2020, 12, 6, 0, 0),
 datetime.datetime(2020, 12, 13, 0, 0),
 datetime.datetime(2020, 12, 20, 0, 0),
 datetime.datetime(2020, 12, 27, 0, 0),
 datetime.datetime(2021, 1, 3, 0, 0),
 datetime.datetime(2021, 1, 10, 0, 0),
 datetime.datetime(2021, 1, 17, 0, 0),
 datetime.datetime(2021, 1, 24, 0, 0),
 datetime.datetime(2021, 1, 31, 0, 0),
 datetime.datetime(2021, 2, 7, 0, 0),
 datetime.datetime(2021, 2, 14, 0, 0),
 datetime.datetime(2021, 2, 21, 0, 0),
 datetime.datetime(2021, 2, 28, 0, 0),
 datetime.datetime(2021, 3, 7, 0, 0),
 datetime.datetime(2021, 3, 14, 0, 0),
 datetime.datetime(2021, 3, 21, 0, 0),
 datetime.datetime(2021, 3, 28, 0, 0),
 datetime.datetime(2021, 4, 4, 0, 0),
 datetime.datetime(2021, 4, 11, 0, 0),
 datetime.datetime(2021, 4, 18, 0, 0),
 datetime.datetime(2021, 4, 25, 0, 0),
 datetime.datetime(2021, 5, 2, 0, 0),
 datetime.datetime(2021, 5, 9, 0, 0),
 datetime.datetime(2021, 5, 16, 0, 0),
 datetime.datetime(2021, 5, 23, 0, 0),
 datetime.datetime(2021, 5, 30, 0, 0),
 datetime.datetime(2021, 6, 6, 0, 0),
 datetime.datetime(2021, 6, 13, 0, 0),
 datetime.datetime(2021, 6, 20, 0, 0),
 datetime.datetime(2021, 6, 27, 0, 0),
 datetime.datetime(2021, 7, 4, 0, 0),
 datetime.datetime(2021, 7, 11, 0, 0),
 datetime.datetime(2021, 7, 18, 0, 0),
 datetime.datetime(2021, 7, 25, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2021, 8, 8, 0, 0),
 datetime.datetime(2021, 8, 15, 0, 0),
 datetime.datetime(2021, 8, 22, 0, 0),
 datetime.datetime(2021, 8, 29, 0, 0),
 datetime.datetime(2021, 9, 5, 0, 0),
 datetime.datetime(2021, 9, 12, 0, 0),
 datetime.datetime(2021, 9, 19, 0, 0),
 datetime.datetime(2021, 9, 26, 0, 0),
 datetime.datetime(2021, 10, 3, 0, 0),
 datetime.datetime(2021, 10, 10, 0, 0),
 datetime.datetime(2021, 10, 17, 0, 0),
 datetime.datetime(2021, 10, 24, 0, 0),
 datetime.datetime(2021, 10, 31, 0, 0),
 datetime.datetime(2021, 11, 7, 0, 0),
 datetime.datetime(2021, 11, 14, 0, 0),
 datetime.datetime(2021, 11, 21, 0, 0),
 datetime.datetime(2021, 11, 28, 0, 0),
 datetime.datetime(2021, 12, 5, 0, 0),
 datetime.datetime(2021, 12, 12, 0, 0),
 datetime.datetime(2021, 12, 19, 0, 0),
 datetime.datetime(2021, 12, 26, 0, 0),
 datetime.datetime(2022, 1, 2, 0, 0),
 datetime.datetime(2022, 1, 9, 0, 0),
 datetime.datetime(2022, 1, 16, 0, 0),
 datetime.datetime(2022, 1, 23, 0, 0),
 datetime.datetime(2022, 1, 30, 0, 0),
 datetime.datetime(2022, 2, 6, 0, 0),
 datetime.datetime(2022, 2, 13, 0, 0),
 datetime.datetime(2022, 2, 20, 0, 0),
 datetime.datetime(2022, 2, 27, 0, 0),
 datetime.datetime(2022, 3, 8, 0, 0),
 datetime.datetime(2022, 3, 15, 0, 0),
 datetime.datetime(2022, 3, 22, 0, 0),
 datetime.datetime(2022, 3, 29, 0, 0),
 datetime.datetime(2022, 4, 5, 0, 0),
 datetime.datetime(2022, 4, 12, 0, 0),
 datetime.datetime(2022, 4, 19, 0, 0),
 datetime.datetime(2022, 4, 26, 0, 0),
 datetime.datetime(2022, 5, 3, 0, 0),
 datetime.datetime(2022, 5, 10, 0, 0),
 datetime.datetime(2022, 5, 17, 0, 0),
 datetime.datetime(2022, 5, 24, 0, 0),
 datetime.datetime(2022, 5, 31, 0, 0),
 datetime.datetime(2022, 6, 7, 0, 0),
 datetime.datetime(2022, 6, 14, 0, 0),
 datetime.datetime(2022, 6, 21, 0, 0),
 datetime.datetime(2022, 6, 28, 0, 0),
 datetime.datetime(2022, 7, 5, 0, 0),
 datetime.datetime(2022, 7, 12, 0, 0),
 datetime.datetime(2022, 7, 19, 0, 0),
 datetime.datetime(2022, 7, 26, 0, 0),
 datetime.datetime(2022, 8, 2, 0, 0),
 datetime.datetime(2022, 8, 9, 0, 0),
 datetime.datetime(2022, 8, 16, 0, 0),
 datetime.datetime(2022, 8, 23, 0, 0),
 datetime.datetime(2022, 8, 30, 0, 0),
 datetime.datetime(2022, 9, 6, 0, 0),
 datetime.datetime(2022, 9, 13, 0, 0),
 datetime.datetime(2022, 9, 20, 0, 0),
 datetime.datetime(2022, 9, 27, 0, 0),
 datetime.datetime(2022, 10, 4, 0, 0),
 datetime.datetime(2022, 10, 11, 0, 0),
 datetime.datetime(2022, 10, 18, 0, 0),
 datetime.datetime(2022, 10, 25, 0, 0),
 datetime.datetime(2022, 11, 1, 0, 0),
 datetime.datetime(2022, 11, 8, 0, 0),
 datetime.datetime(2022, 11, 15, 0, 0),
 datetime.datetime(2022, 11, 22, 0, 0),
 datetime.datetime(2022, 11, 29, 0, 0),
 datetime.datetime(2022, 12, 6, 0, 0),
 datetime.datetime(2022, 12, 13, 0, 0),
 datetime.datetime(2022, 12, 20, 0, 0),
 datetime.datetime(2022, 12, 27, 0, 0),
 datetime.datetime(2023, 1, 3, 0, 0),
 datetime.datetime(2023, 1, 10, 0, 0),
 datetime.datetime(2023, 1, 17, 0, 0),
 datetime.datetime(2023, 1, 24, 0, 0),
 datetime.datetime(2023, 1, 31, 0, 0),
 datetime.datetime(2023, 2, 7, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2023, 2, 21, 0, 0),
 datetime.datetime(2023, 2, 28, 0, 0),
 datetime.datetime(2023, 3, 7, 0, 0),
 datetime.datetime(2023, 3, 14, 0, 0),
 datetime.datetime(2023, 3, 21, 0, 0),
 datetime.datetime(2023, 3, 28, 0, 0),
 datetime.datetime(2023, 4, 4, 0, 0),
 datetime.datetime(2023, 4, 11, 0, 0),
 datetime.datetime(2023, 4, 18, 0, 0),
 datetime.datetime(2023, 4, 25, 0, 0),
 datetime.datetime(2023, 5, 2, 0, 0),
 datetime.datetime(2023, 5, 9, 0, 0),
 datetime.datetime(2023, 5, 16, 0, 0),
 datetime.datetime(2023, 5, 23, 0, 0),
 datetime.datetime(2023, 5, 30, 0, 0),
 datetime.datetime(2023, 6, 6, 0, 0),
 datetime.datetime(2023, 6, 13, 0, 0),
 datetime.datetime(2023, 6, 20, 0, 0),
 datetime.datetime(2023, 6, 27, 0, 0),
 datetime.datetime(2023, 7, 4, 0, 0),
 datetime.datetime(2023, 7, 11, 0, 0),
 datetime.datetime(2023, 7, 18, 0, 0),
 datetime.datetime(2023, 7, 25, 0, 0),
 datetime.datetime(2023, 8, 1, 0, 0),
 datetime.datetime(2023, 8, 8, 0, 0),
 datetime.datetime(2023, 8, 15, 0, 0),
 datetime.datetime(2023, 8, 22, 0, 0),
 datetime.datetime(2023, 8, 29, 0, 0),
 datetime.datetime(2023, 9, 5, 0, 0),
 datetime.datetime(2023, 9, 12, 0, 0),
 datetime.datetime(2023, 9, 19, 0, 0),
 datetime.datetime(2023, 9, 26, 0, 0),
 datetime.datetime(2023, 10, 3, 0, 0),
 datetime.datetime(2023, 10, 10, 0, 0),
 datetime.datetime(2023, 10, 17, 0, 0),
 datetime.datetime(2023, 10, 24, 0, 0),
 'Totals']

In [294]:
# Clean dates and format them into a list
clean_dates = []
for i in dts[:-1]:
    time_data = i
    format_data = "%m-%d-%Y"
    date = datetime.strftime(time_data, format_data)
    clean_dates.append(date)

In [295]:
# Clean Dataframe so that just the colors are used
df_color_data = df.iloc[2:21, :]
df_color_data = df_color_data.fillna(0)
df_color_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 628,Unnamed: 629,Unnamed: 630,Unnamed: 631,Unnamed: 632,Unnamed: 633,Unnamed: 634,Unnamed: 635,Unnamed: 636,Unnamed: 637
2,222,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21
3,223,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,229,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
5,233,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,88
6,240,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
7,246,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,57
8,247,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,57
9,248,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,287
10,266,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,32
11,271,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
12,273,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27
13,285,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,147
14,299,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18
15,333,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
16,558,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
17,561,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,61
18,585,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
19,596,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
20,Yard,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2

In [296]:
# Extract data and covert into a dataframe
n=635
color_cols = [[ x for x in range(y,y+3)] for y in range(1,n,3)]
master_list = []
for date, cols in zip(clean_dates, color_cols):
    for col in cols:
        if col%3 == 1:
            color = 'Orange'
        elif col%3 == 2:
            color = 'Red'
        else:
            color = 'Other'
        for row in range(19):
            rig_num = df_color_data.iloc[row, 0]
            if isinstance(df_color_data.iloc[row, col], str):
                print(f'The error is at date {date} and rig number {rig_num} at color {color}')
            if df_color_data.iloc[row, col] == 1:
                list = []
                list.append(date)
                list.append(color)
                list.append(rig_num)
                list.append('South Texas')
                master_list.append(list)
            if df_color_data.iloc[row, col] > 1:
                amount = int(df_color_data.iloc[row, col])
                for i in range(amount):
                    list = []
                    list.append(date)
                    list.append(color)
                    list.append(rig_num)
                    list.append('South Texas')
                    master_list.append(list)

new_df = pd.DataFrame(master_list, columns=['Date', 'Color', 'Rig Number', 'Region'])
new_df.tail()

           Date   Color Rig Number       Region
894  09-26-2023  Orange        248  South Texas
895  09-26-2023  Orange        248  South Texas
896  09-26-2023  Orange        273  South Texas
897  09-26-2023     Red        233  South Texas
898  09-26-2023     Red        273  South Texas

In [ ]:
new_df.head()

         Date   Color  Rig Number        Region
0  10-13-2019  Orange         808  North Dakota
1  10-13-2019  Orange         808  North Dakota
2  10-13-2019     Red         808  North Dakota
3  10-13-2019   Other         344  North Dakota
4  10-20-2019  Orange         286  North Dakota

In [297]:
new_df.to_csv('stx.csv', index=False)

In [305]:
app_df = pd.read_csv('app.csv')
midcon_df = pd.read_csv('midcon.csv')
nd_df = pd.read_csv('ND.csv')
rockies_df = pd.read_csv('rockies.csv')
etx_df = pd.read_csv('etx.csv')
wtx_df = pd.read_csv('wtx.csv')
stx_df = pd.read_csv('stx.csv')

combine_df = pd.concat([app_df,midcon_df,nd_df,rockies_df,etx_df,wtx_df,stx_df])
combine_df.to_csv('master_data.csv', index=False)